{% extends 'templates/app.twig' %}

{% block content %}

    <form action="{{ path_for('search.like') }}" method="post">
        {% for user in allUserForSearch %}
            <div class="topic">
                <p>{{ user.id }}</p>
                <form action="{{ path_for('search.like') }}" method="post">
                    <input type="hidden" name="liked_id", value="{{ user.id }}">
                    <button type="submit" name="like" value="{{ user.id }}">Like</button>
                    {{ csrf.field | raw }}{# raw скроет строку #}
                </form>
                <form action="{{ path_for('search.unlike') }}" method="post">
                    <input type="hidden" name="liked_id", value="{{ user.id }}">
                    <button type="submit" name="unlike" value="{{ user.id }}">Unlike</button>
                    {{ csrf.field | raw }}{# raw скроет строку #}
                </form>
            </div>
        {% endfor %}

    </form>

{% endblock %}