{% extends 'templates/app.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="home">
				<div class="panel panel-default">
					<div class="panel-heading">All my interests</div>
					<div class="panel-body">
						<form action="{{ path_for('user.edit.interests_delete') }}" method="post">
							{% for interest in interests %}
								<div class="topic">
									<p>{{ interest }}</p>
									<input type="submit" name="{{ interest }}" value="x">
								</div>
							{% endfor %}
							{{ csrf.field | raw }}{# raw скроет строку #}
						</form>
					</div>
					<div class="panel-heading">interests profile</div>
					<div class="panel-body">
						<div>All my interests</div>
						<form action="{{ path_for('user.edit.interests') }}" method="post" autocomplete="off">
							<label for="interests"></label>
							<input type="text" name="interest">
							<button type="submit" class="btn btn-default">Add interests</button>
							{{ csrf.field | raw }}{# raw скроет строку #}
						</form>
					</div>
					<div class="panel-heading">Show all interests</div>
					<div class="panel-body">
						<form action="{{ path_for('user.edit.interests_add') }}" method="post">
						{% for interest in allInterests %}

							<div class="topic">
								<input type="submit" name="interest" value="{{ interest }}">
								{{ csrf.field | raw }}{# raw скроет строку #}
							</div>
						{% endfor %}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}