{% extends 'templates/app.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="home">
				<div class="panel panel-default">
					<div class="panel-heading">Change password</div>
					<div class="panel-body">
						<form action="{{ path_for('auth.password.change') }}" method="post" autocomplete="off">
							<div class="form-group{{ errors.password_old ? ' has-error' : '' }}">
								<label for="password_old">Current password</label>
								<input type="password" name="password_old" class="form-control">
								{% if errors.password_old %}
									{#  first - это показать первую строку с массива email  по сосоянию ошибки #}
									<span class="help-block">{{ errors.password_old | first }}</span>
								{% endif %}
							</div>
							<div class="form-group{{ errors.password_new ? ' has-error' : '' }}">
								<label for="password_new">Password</label>
								<input type="password" name="password_new" class="form-control">
								{% if errors.password_new %}
									{#  first - это показать первую строку с массива email  по сосоянию ошибки #}
									<span class="help-block">{{ errors.password_new | first }}</span>
								{% endif %}
							</div>
							<div class="form-group{{ errors.password_repeat ? ' has-error' : '' }}">
								<label for="password_repeat">Password</label>
								<input type="password" name="password_repeat" class="form-control">
								{% if errors.password_repeat %}
									{#  first - это показать первую строку с массива email  по сосоянию ошибки #}
									<span class="help-block">{{ errors.password_repeat | first }}</span>
								{% endif %}
							</div>
							<button type="submit" class="btn btn-default">Change password</button>
							{{ csrf.field | raw }}{# raw скроет строку #}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}