{% extends 'templates/app.twig' %}

{% block content %}

	<label>Photo; </label><br/>
	<form action="{{ path_for('user.edit.photo_delete') }}" method="post">
		{% for photo in allphoto %}
				<img width="400px" height="300px" src="{{ photo }}" alt="">
				<input type="submit" name="{{ photo }}" value="delphoto">
				{{ csrf.field | raw }}{# raw скроет строку #}
		{% endfor %}
	</form>
	<form method="post" enctype="multipart/form-data">
		<!-- upload of a single file allphoto-->

			<input type="file" name="photo"/>
			<input type="submit"/>
		{{ csrf.field | raw }}{# raw скроет строку #}
	</form>

{% endblock %}
